<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herum</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/detailedProduct.css">
    <link rel="stylesheet" href="../css/footer.css">

    <script src="../js/header.js" defer></script>
    <script src="../js/detailedProduct.js" defer></script>
    <script src="../js/footer.js" defer></script>
</head>
<body>
</body>
</html>
