<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herum</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/detailedProduct.css">
</head>
<body>
    <section id="detailed-product">
        <!-- <div id="detailed-product-background">
            <div id="detailed-product-header-container" class="detailed-product-containers">
                <img id="detailed-product-image" src="../../Witcher.png" alt="witcherBackground">
            </div>
            <div id="detailed-product-info-container" class="detailed-product-containers">
                <div id="detailed-product-info-left">
                    <h2>The Witcher 3</h2>
                    <p>CD Projekt Red</p>
                    <p>May 18th 2015</p>
                </div>
                <div id="detailed-product-info-right">
                    <img class="detailed-product-icons" src="../../PEGI18.svg" alt="PEGI18Icon">
                    <img class="detailed-product-icons" src="../../Rating.svg" alt="RatingIcon">
                </div>
            </div>
            <p id="detailed-product-description" class="detailed-product-containers">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div id="detailed-product-footer-container" class="detailed-product-containers">
                <h2>19.00$</h2>
                <div id="detailed-product-shopping-container">
                    <p>Add to cart</p>
                    <img id="detailed-product-shopping-icon" src="../../Cart.svg" alt="CartIcon">
                </div>
            </div>
        </div> -->

    </section>
</body>
</html>

<script src="../js/detailedProduct.js"></script>