<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Herum</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/footer.css" />
  </head>
  <body>
    <section id="landing">
      <div id="welcome">
        <h2>BIENVENIDOS A <span>HERUM</span></h2>
        <hr />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ea itaque
          dolore assumenda esse eveniet debitis corrupti voluptatibus commodi?
        </p>
      </div>
      <div id="card">
        <img src="Rectangle 5 (1).png" />
        <button>SEE CATALOG</button>
      </div>
    </section>
    <section id="top-rating"></section>
    <section id="on-sale"></section>
  </body>
</html>
<script src="../js/index.js"></script>
<script src="../js/footer.js"></script>