<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Herum</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <section id="landing">
      <div id="welcome">
        <h2>BIENVENIDOS A <span>HERUM</span></h2>
        <hr />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ea itaque
          dolore assumenda esse eveniet debitis corrupti voluptatibus commodi?
        </p>
      </div>
      <div id="card">
        <img src="Rectangle 5 (1).png" />
        <button>SEE CATALOG</button>
      </div>
    </section>
    <section id="top-rating">
      <div id="top-rating-catalog">
        <h2>Top Rating</h2>
        <p>see more</p>
      </div>
      <div id="games-container">
        <div id="top-rating-slider">
          <img src="Rectangle 7.png" />
          <img src="Rectangle 7.png" />
          <img src="Rectangle 7.png" />
          <img src="Rectangle 7.png" />
        </div>
      </div>
    </section>
  </body>
</html>
