<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/header.css" />
  <link rel="stylesheet" href="../css/product-page.css" />
  <link rel="stylesheet" href="../css/footer.css" />
  <title>Products</title>
  <!-- <script src="../js/header.js" defer></script> -->
  <script type="module" src="../js/products.js" defer></script>
  <!-- <script src="../js/footer.js" defer></script> -->
  <script src="../js/cart.js" defer></script>
</head>

<body>
</body>
</html>