<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/header.css" />
  <link rel="stylesheet" href="../css/product-page.css" />
  <link rel="stylesheet" href="../css/footer.css" />
  <title>Products</title>
  <!-- <script src="../js/header.js" defer></script> -->
  <script type="module" src="../js/products.js" defer></script>
  <!-- <script src="../js/footer.js" defer></script> -->
  <script src="../js/cart.js" defer></script>
</head>

<body>
  <div id="addGame-container">
    <div id="plus-container">
      <img src="../resources/plusicon.svg" alt="plus icon" id="plusicon">
    </div>
    <p>Add Game</p>
  </div>
  <div id="editGame-container">
    <img src="../resources/editpenicon.svg" id="editicon" alt="edit icon">
  </div>
</body>
</html>

<!-- <div id="plus-container">
      <img src="../resources/plusicon.svg" alt="plus icon" id="plusicon">
      <p>+</p>
</div>-->