<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/product-page.css" />
    <title>Products</title>
  </head>
  <body class="filter-bars-container">
    <section id="search-container">
      <label for="search">
        <div class="box-icon-form">
          <img src="../../assets/icons/lupa.svg" alt="" />
        </div>
        <input type="text" placeholder="Search" id="search" name="name" />
      </label>
    </section>
    <section id="filter-container">
      <div class="filter-items">
        <p>Top Rating</p>
      </div>
      <div class="filter-items">
        <p>Categories</p>
      </div>
      <div class="filter-items">
        <p>Sales</p>
      </div>
      <div class="filter-items">
        <p>Plataform</p>
      </div>
    </section>
    <section id="game-section-container">
     
    </section>
    <section id="see-more-btn">
      <a href="">See More</a>
    </section>
    <script
    src="../js/products.js"></script>
  </body>
</html>
