@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
    /* colors */
    --color-main-bg: #000c14;
    --color-secondary: #fa720f;
    --font-color: #000c14;

    /* fonts */
    --font-main: "League Spartan";
}

body {
    background-color: #000C14;
    color: white;
    margin: 0;
    font-family: League Spartan !important;
}

#detailed-product {
    width: 100%;
    height: 80vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detailed-product-background {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #1E2E38;
    border-radius: 2rem;
}

#detailed-product-header-container {
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detailed-product-image {
    height: 100%;
    width: 100%;
    border-radius: 24px;
    object-fit: cover;
}

#detailed-product-info-container {
    height: 20%;
    display: flex;
    flex-direction: row;
}

#detailed-product-info-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: space-evenly;
}

#detailed-product-info-left h2{
    font-size: 1.3rem;
    margin-left: 5%;
}

#detailed-product-info-left p{
    font-size: 0.9rem;
    height: 50%;
    margin: 0;
    margin-left: 5%;
}

#detailed-product-info-right {
    display: flex;
    width: 50%;
    align-items: center;
    gap: 1rem;
}

#detailed-product-description {
    height: 20%;
    display: flex;
    align-items: center;
}

#detailed-product-footer-container {
    height: 10%;
    display: flex;
    justify-content: space-around;
}

#detailed-product-shopping-container{
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 0px 15px;
    width: 40%;
    border-radius: 36px;
    border: 2px solid #fa720f;
}

#detailed-product-shopping-container p{
    color: #fa720f;
}

.detailed-product-containers {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailed-product-icons {
    height: 70%;
    width: 70%;
}

.good-rating {
    background-color: green;
}

.average-rating {
    background-color: yellow;
}

.bad-rating {
    background-color: red;
}

.rating-container {
    height: 40%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.rating-container p {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}