@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  /* colors */
  --color-main-bg: #000c14;
  --color-secondary: #fa720f;
  --font-color: #000c14;

  /* fonts */
  --font-main: "League Spartan";
}
/* 
main {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-main-bg);
  color: white;
  font-family: League Spartan !important;
}

.filter-bars-container {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#search-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 36px;
  margin-top: 40px;
}

#search-container label {
  width: 100%;
  height: 40px;
  outline: 2px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
  position: relative;
}

#search-container input {
  width: 100%;
  height: 100%;
  border-radius: 2.25rem;
  border: none;
  text-align: center;
  position: absolute;
  right: 0;
}

#search-container input::placeholder {
  text-align: end;
  margin-left: 1.25rem;
}

#box-icon-form {
  margin-left: 0.625rem;
  position: absolute;
  z-index: 1;
}

#box-icon-form img {
  width: 1.25rem;
}

#filter-container {
  width: 90%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
}

.filter-items {
  width: 45%;
  height: 20px;
  max-width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 16px;
  /* padding: 5px 20px; */
}

.filter-items:hover {
  border: 2px solid #fa720f;
}

.filter-items p {
  font-size: 0.8rem;
}

.filter-items p:hover {
  color: #fa720f;
}

#game-section-container {
  margin-top: 60px;
  width: 90%;
  /* height: fit-content; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex-flow: row wrap;
}

.game-items-container {
  width: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 5px;
}

.game-items-container img {
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
  object-fit: cover;
}

.price-icon-container {
  background-color: var(--color-secondary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 35px;
  border-radius: 16px;
}

a {
  text-decoration: none;
}

.price-icon-container:hover {
  background-color: #be4f00;
}

.price-icon-container p {
  font-size: 1.2rem;
  color: black;
  background-color: transparent;
}

.price-icon-container img {
  width: 20px;
  height: 20px;
  background-color: transparent;
}

#see-more-btn a {
  background-color: var(--color-secondary);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 12px;
  color: var(--font-color);
  font-size: 1.2rem;
  font-weight: 500;
}

#see-more-btn a:hover {
  background-color: #be4f00;
}

@media (min-width: 769px) {
  .game-items-container {
    width: 30%;
  }
}

@media (min-width: 1024px) {
  .game-items-container {
    width: 25%;
  }
}