@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  /* colors */
  --color-main-bg: #000c14;
  --color-secondary: #FA720F;

  /* fonts */
  --font-main: "League Spartan";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-main-bg);
  color: white;
  font-family: League Spartan !important;
}



  .filter-bars-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  #search-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 36px;
    margin-top: 40px;
  }

  #search-container label {
    width: 100%;
    height: 40px;
    outline: 2px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 50px;
    position: relative;
  }

  #search-container input {
    width: 100%;
    height: 100%;
    border-radius: 36px;
    border: none;
    text-align: center;
    position: absolute;
    right: 0;
  }

  #search-container input::placeholder {
    text-align: end;
    margin-left: 10px;
  }

  .box-icon-form {
    margin-left: 10px;
    position: absolute;
    z-index: 1;
  }

  .box-icon-form img {
    width: 26px;
  }

  #filter-container{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .filter-items{
    border: 2px solid white;
    border-radius: 16px;
    padding: 5px 10px;
  }

  .filter-items p{
    font-size: 0.8rem;
  }

  #game-section-container{
    margin-top: 40px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }

  .game-items-container{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: row wrap;
    margin-bottom: 40px;
  }

  .game-items-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .price-icon-container{
    background-color: var(--color-secondary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 12px;
  }

  .price-icon-container p{
    color: black;
    background-color: transparent;
  }

  .price-icon-container img{
    width: 20px;
    height: 20px;
    background-color: transparent;
  }


@media (min-width: 769px) {
    .game-items-container{
        width: 30%;
      }
}

@media (min-width: 1024px) {
    .game-items-container{
        width: 25%;
      }
}